.button {
  font-size: 2rem;
  padding: 0 0.6rem 0 0.6rem;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.button:hover,
.button:active {
  border: 3px solid hsl(214, 58%, 72%);
  background-color: hsl(214, 58%, 72%);
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.4);
}
