.outer {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  flex-direction: row;
}

.heading {
  margin-top: -3rem;
  margin-bottom: 5rem;
}

.box {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  gap: 2rem;
}

.label {
  margin-bottom: 0.5rem;
  text-align: center;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
