.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  z-index: 100;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalInner {
  background-color: white;
}

.buttonsGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
