.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: orange;
  height: 50vh;
  position: relative;
}

.stroke {
  stroke: black;
  stroke-width: 10;
}

.stand {
  position: absolute;
  bottom: 1rem;
  right: calc(60% - 9rem);
  width: 18rem;
}

.pole {
  position: absolute;
  bottom: 1rem;
  right: 60%;
  height: 23rem;
}

.support {
  position: absolute;
  bottom: calc(1rem + 21rem);
  right: calc(60% - 9.5rem);
  width: 12rem;
}

.rope {
  position: absolute;
  right: calc(60% - 9rem);
  bottom: calc(1rem + 22rem - 4.5rem);
  height: 5rem;
}

.head {
  position: absolute;
  right: calc(60% - 9rem - 1.5rem - 4px);
  bottom: calc(1rem + 22rem - 4rem - 4rem);
  height: 4rem;
  width: 4rem;
}

.torso {
  position: absolute;
  right: calc(60% - 9rem);
  bottom: calc(1rem + 22rem - 4rem - 4rem - 4rem - 2px);
  height: 5rem;
}

.arm {
  position: absolute;
  right: calc(60% - 9rem - 2.5rem);
  bottom: calc(1rem + 22rem - 4rem - 4rem - 2rem);
  height: 3rem;
}

.leg {
  position: absolute;
  height: 4rem;
  right: calc(60% - 9rem - 3rem);
  bottom: calc(1rem + 22rem - 4rem - 4rem - 4rem - 3.5rem);
}

.left {
  transform: scale(-1, 1);
  right: calc(60% - 9rem);
}
.legLeft {
  transform: rotate(45deg);
  right: calc(60% - 9rem - 2rem + 3rem + 4px);
}

.hide {
  display: none;
}

.endMessage {
  margin: 0;
  font-size: 5rem;
}
