.container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 7rem;
  width: 26rem;
  border-radius: 0.5rem;
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonsGroup {
  position: absolute;
  bottom: 0.5rem;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.popupText {
  margin: 0 0 2rem 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.popupButton {
  background-color: royalblue;
  border-radius: 0.4rem;
  border: none;
  min-height: 2.2rem;
  min-width: 5.5rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.popupButton:hover {
  box-shadow: 0 0 20px white;
}
